.App {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 0;
  color: #666;
}

main section {
  margin-bottom: 20px;
}

main h2 {
  font-size: 1.5em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

main p,
main ul {
  margin: 10px 0;
}

main ul {
  padding-left: 20px;
}

main ul li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #ddd;
  color: #666;
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: left; /* Center the links */
}

.nav-links li {
  margin: 0 10px; /* Adjust margin between buttons */
}

.nav-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #d1d9e2;
  padding: 10px 20px; /* Increase padding for larger buttons */
  border-radius: 5px;
  font-size: 16px; /* Increase font size */
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #757575; /* Change color on hover */
}

.cute-animation {
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s ease-out; /* Smooth transition */
}

.cute-animation:hover {
  transform: translateY(-5px); /* Move the element up */
}